/* no bounce effect after add to screen */
body, html {
  position: fixed;
}

/* ken burn animation */
@keyframes kenburns {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    80% {
        transform: scale3d(1, 1, 1) translate3d(-50px, 0px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
        opacity: 0;
    }
}

@keyframes smallAnimate {
    0% {
      opacity: 0.5;
    }
    5% {
      opacity: 1;
    }
    80% {
        transform: scale3d(1.3, 1.3, 1.3) translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
        opacity: 0.5;
    }
}

@keyframes bigAnimate {
    0% {
      opacity: 0.5;
    }
    5% {
      opacity: 1;
    }
    80% {
        transform: scale3d(1.7, 1.7, 1.7) translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
        opacity: 0.5;
    }
}

.button .icon:before, .button.icon:before, .button.icon-left:before, .button.icon-right:before {
    font-size: 2.5em;
}

.button.button-calm {
    background-color: #007ab6;
}

#imageContainer img {
  animation: kenburns 8s infinite;
}

.ion-ios-arrow-back {
    display: inline-block;
    position: absolute;
    margin-top: -0.7em; 
    font-size: 0.9em;
    color: #007ab6;
    border: none;
    background-color: transparent;
}
.search .ion-ios-arrow-back {
    margin-top: 0.3em; 
}
.candidates .ion-ios-arrow-back{
    margin-top: -0.8em; 
}
.logo-title {
    display: block;
    width: 32%;
    margin: 1em auto 1em;
}

.animateContent {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 50%;
}
.user-avatar {
    display: block;
    position: relative;
    margin: 0 auto 0;
    z-index: 3;
    width: 60%;
}
.becomeBigger {
    display: block;
    position: relative;
    margin: -65% auto 0;
    z-index: 2;
    width: 70%;
    animation: smallAnimate 3s infinite;
}
.becomeBiggest {
    display: block;
    position: relative;
    margin: -75% auto 0;
    z-index: 1;
    width: 80%;
    animation: bigAnimate 3s infinite;
}
ion-slides {
    height: 33em;
}
ion-slide-box {
    height: 33em;
}
box {
    height: 30em;
}
.swiper-pagination {
    display: none;
}
.item-image {
    height: 27em;
    width: 100%;
}
.swiper-slide {
    height: 70%;
    padding: 0 10px;
}
.candidates .item-avatar {
    padding-left: 22px!important;
    padding-top: 14px;
    width: 95%;
    height: 110px;
    background-color: rgba(0,174,239,0.84);
    margin-top: -110px;
    left: 2.5%;
    border: none;
}
.candidates .item-avatar h2 {
    color: white;
    font-size: 2em;
}
.candidates .item-avatar h3 {
    color: white;
    font-size: 1em;
}
.candidates .item-avatar p {
    color: white;
    font-size: 0.8em;
}

.btn-group {
    display: inline-block;
    width: 23%;
    height: 100px;
    font-size: 0;
    background-color: transparent;
    border: none;
    vertical-align: bottom;
    margin: 10px 2% 0;
}
.lower-btn {
    width: 16%;
    margin: 0 2.2%;
    height: 70px;
}

#detail-content .avatar {
    width: 100%;
    max-width: 100%;
}
#detail-content h2, #detail-content h3, #detail-content p {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}
#detail-content h2 {
    color: #0e76bc;
}
#detail-content h3 {
    color: #757575;
}
#detail-content .bottomBtns {
    width: 100%;
    position: relative;
}
#detail-content .lower-btn {
    width: 31%;
}
#detail-content .logo-title {
    margin-top: 24px;
    margin-bottom: 24px;
}
#detail-content .chat-list-btn {
    margin-top: -53px;
}

/* chat list page */
.chat-list-btn {
    display: relative;
    float: right;
    clear: both;
    margin-top: -40px;
    margin-right: 10px;
    min-width: 32px;
    background-color: transparent;
    background-image:url('../img/chat.png'); 
    background-size:contain; 
    background-repeat:no-repeat;
}
#chat-list-content .logo-title {
    margin-top: 24px;
    margin-bottom: 24px;
}
#chat-list-content .item-avatar .avatar-img {
    top: 6px;
    left: 6px;
    max-width: 60px;
    max-height: 60px;
}
#chat-list-content .btn-right {
    display: block;
    float: right;
    margin-top: -50px;
    max-height: 50px;
}
#chat-list-content .list button {
    clear: both;
    max-width: 50px;
    max-height: 50px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
}
.accept-btn {
    background-image: url("../img/yeap.png");
}
.reject-btn {
    background-image: url("../img/nope.png");
}
.gochat-btn {
    background-image: url("../img/gochat.png");
}
#chat-list-content .list {
    margin-bottom: 0;
    padding-bottom: 0;
}


/* M E S S A G E S */
.chat-container {
    background: #e5e5e5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px;
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.chat .avatar {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    z-index: 2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
}
.chat .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.chat .day {
    position: relative;
    display: block;
    text-align: center;
    color: #c0c0c0;
    height: 20px;
    text-shadow: 7px 0px 0px #e5e5e5, 6px 0px 0px #e5e5e5, 5px 0px 0px #e5e5e5, 4px 0px 0px #e5e5e5, 3px 0px 0px #e5e5e5, 2px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 0px 0px 0px #e5e5e5, -1px 0px 0px #e5e5e5, -2px 0px 0px #e5e5e5, -3px 0px 0px #e5e5e5, -4px 0px 0px #e5e5e5, -5px 0px 0px #e5e5e5, -6px 0px 0px #e5e5e5, -7px 0px 0px #e5e5e5;
    box-shadow: inset 20px 0px 0px #e5e5e5, inset -20px 0px 0px #e5e5e5, inset 0px -2px 0px #d7d7d7;
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.other .msg {
    order: 1;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4;
}
.other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 40px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    order: 1;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #D4D4D4;
    background: #09f;
}
.self .msg p {
    color: #fff;
}
.self .avatar {
    order: 2;
}
.self .avatar:after {
    content: "";
    position: relative;
    display: inline-block;
    bottom: 19px;
    right: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #09f;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 0px 2px 0px #D4D4D4;
}

.msg {
    background: white;
    min-width: 150px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.msg p {
    margin: 0 0 0.2rem 0;
    color: #777;
}
.msg img {
    position: relative;
    display: block;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #eee;
    transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
@media screen and (max-width: 800px) {
    .msg img {
    width: 300px;
}
}
@media screen and (max-width: 550px) {
    .msg img {
    width: 200px;
}
}

.msg time {
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #e5e5e5;
    box-shadow: inset 0px 50px 0px rgba(82,179,217,0.9), inset 0px -52px 0px #fafafa;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border: none;
    border-radius: 100px;
    border: solid 3px #e5e5e5;
    box-shadow: inset 0px 0px 3px #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
  box-shadow: inset 0px 0px 3px #888;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
  box-shadow: inset 0px 0px 3px #7f7f7f;
}

::-webkit-scrollbar-button {
    display: block;
    height: 26px;
}

/* T Y P E */

input.chat-input {
    height: 50px;
    /* z-index: 99; */
    background: #fafafa;
    border: none;
    outline: none;
    padding-left: 55px;
    padding-right: 10px;
    color: #666;
    font-weight: 400;
    width: 77%;
    float: left;
}

.chat-btn {
    width: 23%;
    background: #fafafa;
    color: #09f;
    font-weight: 700;
    text-align: center;
    float: right;
    /* vertical-align: middle; */
    padding: 13px;
    border: none;
    height: 50px;
}
.emojis {
    position: fixed;
    display: block;
    bottom: 8px;
    left: 7px;
    width: 34px;
    height: 34px;
    background-image: url(http://i.imgur.com/5WUpcPZ.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    cursor: pointer;
}
.emojis:active {
    opacity: 0.9;
}